$primary-bg: #F7F8FA;
$primary-text-color: #110C22;
$primary-color: #2B46D9;
$base-font-size: 16px;


body {
    font-family: 'Inter', sans-serif;
    color: $primary-text-color;
    background-color: $primary-bg;
}

.h1, h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
}

.h2, h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.card {
    padding: 32px;
    border-radius: 16px;
    background-color: white;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    border: none;
    background: $primary-color;
}

.btn-light {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 600;
    color: $primary-color;
    border: none;
    background: white;
}

.link-text {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: underline;
    color: $primary-color;
}

.justify-content-start { justify-content: flex-start; }
.justify-content-between { justify-content: space-between; }
.justify-content-center { justify-content: center; }
.justify-content-end { justify-content: flex-end; }
.align-items-center { align-items: center;}
.gap-1 { gap: 4px; }
.gap-2 { gap: 8px; }
.gap-3 { gap: 12px; }
.gap-4 { gap: 16px; }
.gap-5 { gap: 20px; }
.gap-6 { gap: 24px; }
.gap-7 { gap: 28px; }
.gap-8 { gap: 32px; }
.gap-9 { gap: 36px; }
.gap-10 { gap: 40px; }
.gap-12 { gap: 48px; }
.gap-14 { gap: 56px; }
.gap-16 { gap: 64px; }
.gap-18 { gap: 72px; }
.gap-20 { gap: 80px; }


.gird {
    display: grid;
}

// position
.position-relative { position: relative; }
.position-absolute { position: absolute; }


// Sizing
.m-0 { margin: 0px; }
.m-1 { margin: 4px; }
.m-2 { margin: 8px; }
.m-3 { margin: 12px; }
.m-4 { margin: 16px; }
.m-5 { margin: 20px; }
.m-6 { margin: 24px; }
.m-7 { margin: 28px; }
.m-8 { margin: 32px; }
.m-9 { margin: 36px; }
.m-10 { margin: 40px; }
.m-11 { margin: 44px; }
.mt-0 { margin-top: 0px; }
.mt-1 { margin-top: 4px; }
.mt-2 { margin-top: 8px; }
.mt-3 { margin-top: 12px; }
.mt-4 { margin-top: 16px; }
.mt-5 { margin-top: 20px; }
.mt-6 { margin-top: 24px; }
.mt-7 { margin-top: 28px; }
.mt-8 { margin-top: 32px; }
.mt-9 { margin-top: 36px; }
.mt-10 { margin-top: 40px; }
.mt-12 { margin-top: 48px; }
.mt-14 { margin-top: 56px; }
.mt-16 { margin-top: 64px; }
.mt-18 { margin-top: 72px; }
.mt-20 { margin-top: 80px; }